<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUri" value="http://localhost:5000"/>
    <add key="ApiUser" value="User"/>
    <add key="ApiPassword" value="Password"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>